<div id="create_room_modal">
  <form action="/rooms/add">
    <label for="name">Room Name:</label>
    <input id="name" name="name"/>
    <input type="submit"/>
  </form>
</div>

<%- @rooms.each do |room| %>
  <div>
    <%= room %> <%= link_to "show", :action => "show", :name => room %> <%= link_to "remote", :action => "remote", :name => room %>
  </div>
<%- end %>
