<%= javascript_include_tag 'jquery-ui-1.8.21.custom.min' %>
<%= stylesheet_link_tag 'jquery-ui-1.8.21.custom' %>
<%= javascript_include_tag 'room_show' %>
<div id="categories_container"></div>
<script>
  $(document).ready(function(){
    room('<%= @room_name %>').initialize($('#categories_container'));
  });
</script>
